*{
  margin: 0;
  padding: 0;
}

:root {
  font-family: Iner, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.previewSection{
  width: 100%;
  height: 100vh;
  font-size: 0.75em;


}

.previewSection > * {
  margin: 0 2em;
}

.inputSection{
  padding-top: 1em;
  background-color: rgb(234, 234, 234);
  display: flex;
  flex-direction: column;
  border-right: 2px solid darkred;

}

.inputSection > button{
  align-self: center;
}

#downloadBtn{
  margin-top: auto;
  margin-bottom: 20px;
  background-color:rgb(179, 4, 4);
  color: white;
}
.header{
  margin: 1em 0;
  display: grid;
  grid-template-columns: 10fr 1fr;
}

.personalInfo {
  display: grid;
  grid-column: 1 / 2;
  
}



.personalInfo > p{
  display: flex;
  justify-content: center;
  gap: 1em;
}


form > label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 15px;
  padding: 2px 50px;

}

input {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0.75em;
  border-radius: 10px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}


button {
  background-color: rgb(151, 185, 181);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1em;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
}

li {
  list-style: none;
  display: grid;
  grid-template-columns: 10fr 1fr;
  margin: 1em 0 1em 2em;
}

.content {
  display: grid;
  grid-column: 1/2;
  text-align: left;

}

.topSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  
}

.italicText {
  font-style: italic;
}

.boldText {
  font-weight: bold;
}

h2 {
  text-align: left;
  text-decoration: underline;
}

.btnContainer {
  grid-column: 2/3;
  text-align: right;

  
}

.btnContainer > button {
  border: none;
  outline: none;
  color: rgb(179, 4, 4);
  background-color: transparent;
  font-size: 1rem;
  padding: 0;
  margin: 0 0 0 2px;
}

.hide {
  color: transparent
}

.error {
  color: red;
}

textarea {
  min-height: 5em;
  padding: 0.5em;
}